primary_name=ChargedTrack
primary_propagator = [mcPhotonTransporter]
primary_generator = ChargedTrack


charged_primary_cherenkov_waves = [350,600]
charged_direction = [-1,0,0]
#charged_position_m = [-16,-200,100]
charged_position_m = [-100,-500,500]
charged_length_m = 100
