* {
    box-sizing: border-box;
}
@import 'template-legacy';
@import 'template-text';
@import 'template-components';
@import 'template-header';
@import 'template-footer';
@import 'template-ajax';

/** Flash Messages **/
#message-container{
    display: block;
    position: absolute;
    position: fixed;
    right: 0;
    z-index: 2147483647;

    .alert{
        margin: 0;
        margin-top: 1px;
    }
}
