primary_name = g4particle
primary_propagator = [g4propagator, cascadeCherenkov, trackCherenkov, mcPhotonTransporter]

#g4_enable_cherenkov
g4_casc_max 0.02

g4_particle mu-
g4_energy [10, TeV]
g4_position [-100, -200, 120, m]
g4_direction [-0.3, -0.6, 1]

photon_suppression 100000
cherenkov_wavelengths [350, 650]
refraction_index 1.34
