primary_name = toyPrimary
primary_propagator = [particlePropagator, mcPhotonTransporter]
primary_generator = ToyGen

toy_primary_name mu-
toy_primary_energy 100
toy_primary_position [-100, -190, 110]
toy_primary_direction [-0.2, -0.5, 1]

#g4_enable_cherenkov
g4_casc_max 0.05
g4_random_seed 1

photon_suppression 1000
