@import 'variables';

.psu-footer{
    position: fixed;
    bottom: 0;
    left:0;
    right: 0;
    background-color: $primary-bg-color;
    color: $primary-fg-color;
    align-items: center;
    font-size: .7em;
    height: 20px;
    padding: 0 10px;
}
.psu-footer a{
    color: $primary-fg-color;
}