[Main]
Signature=UDE_TARGINFO_2.0
MCUs=Controller0
Description=AppKit with TC39x B-Step (Multicore), disable TLE35584 watchdogs on connect
Architecture=TriCore
Vendor=Infineon
Board=TC39xB Application Kit

[Controller0]
Family=TriCore
Type=TC39xB
Enabled=1
IntClock=100000
ExtClock=20000
traceStreams=none

[Controller0.Core0]
Protocol=TC2_JTAG
Enabled=1

[Controller0.Core0.LoadedAddOn]
UDEMemtool=1

[Controller0.Core0.Tc2CoreTargIntf]
AccRetryDelay=10
AddResetDelay=0
AllowJtagResetWhileRunning=1
BootPasswd0=0x0
BootPasswd1=0x0
BootPasswd2=0x0
BootPasswd3=0x0
BootPasswd4=0x0
BootPasswd5=0x0
BootPasswd6=0x0
BootPasswd7=0x0
CheckJtagId=1
CommDevSel=
ConnOption=Reset
DapMode=2PIN
DasCmdTimeout=1000
DasDllPath=das_api.dll
DasForwardSerNum=0
DasHost=
DasPortSel=0
DasPortType=0
DasRemoveLogFile=0
DasResetHelperBreakAddr=main
DasResetMode=2
DasSrvPath=servers\udas\udas.exe
DasSrvSel=-1
DasStopSrv=1
DasTryStartSrv=1
DasWaitAfterConnect=0
DebugResetOnDisconnect=0
DetectResetWhileHalted=1
DiswdtOnReset=1
DontUseWdtSusp=0
DownloadToAllRams=0
EtksArbiterMode=None
ExecEmemInitOnReset=0x0
ExecInitCmds=1
ExecOnConnectCmds=0
ExecOnExtRstCmds=0
ExecOnHaltCmds=0
ExecOnHaltCmdsWhileHaltedPeriod=0
ExecOnStartCmds=0
FilterMemAcc=1
HaltAfterReset=0
HandleBmiHeader=0
HandleMemAccBug=1
IgnoreFailedHaltAfterResetOnConnect=0
InitCore0RamOnConnect=0
IvIcacheOnHalt=1
IvPlbOnHalt=1
MaxAccRetry=1
MaxJtagClk=5000
MaxTry=1
Ocds1ViaPod=0
OpenDrainReset=0
PasswordFile=
PortType=DAS
ReadPmcsrWhileRunning=1
ReduceJtagClock=0
ReenableOcds=1
RefreshHarr=0
RefreshJtag=0
ResetMode=Default
ResetPulseLen=5
ResetWaitTime=5
RunStabilityTestOnConnect=0
ScanJTAG=0
SetAutOkOnConnect=0
SetDebugEnableAb1DisablePin=0
SetPllOnReset=0x0
SetPllOnReset2=0x0
SimioAddr=g_JtagSimioAccess
SuspendSlaveCores=0
TargetAppHandshakeMode=None
TargetAppHandshakeParameter0=0x0
TargetAppHandshakeParameter1=0x0
TargetAppHandshakeParameter2=0x0
TargetAppHandshakeParameter3=0x0
TargetAppHandshakeTimeout=100
TargetPort=Default
TrySystemResetAfterFailedHardwareReset=0
UnlockInterface=0
UseDap=0
UseDflashAccessFilter=1
UseIoinfoHalt=1
UseOstateStable=1
UseStmForPtm=1
UseTL2OnHalt=1
UseTranslateAddr=1
UseTriggerToBreak=1


[Controller0.Core0.Tc2CoreTargIntf.InitScript]
; MemTool Script to disable both TLF35584 watchdogs on connect

; For information the Appkit SPI signals/pins:
;   P15.8: QSPI2_SCLK O3 Master SPI clock output
;   P15.6: QSPI2_MTSR O3 Master SPI data output
;   P14.2: QSPI2_SLSO1 O3 Master slave select output
;   P15.7: QSPI2_MRSTB Master SPI data input

; CCUCON1 (CCU Clock Control Register 1): QSPIDIV: fQSPI = fSOURCEQSPI
SET 0xF0036034 0x01000000 0x01000000

; QSPI2 CLC (Clock Control): Sleep Mode Enable Control = Disabled
SET 0xF0001E00 0x00000008

; QSPI2 GLOBALCON (Global Configuration Register):
; Global Time Quantum Length = 4
; Timeout for Expect = max
; CLKSEL = f_per
SET 0xF0001E10 0x20003C04

; QSPI2 PISEL: Select Line B for:
;   Master Mode Receive Input Select
;   Slave Mode Receive Input Select
;   Slave Mode Clock Input Select
;   Slave Mode Slave Select Input Selection
;   Because we don't receive anything we can save some time by not configuring this
; SET 0xF0001E04 0x00001111

; QSPI2 GLOBALCON1 (Global Configuration Register 1): RXFIFO and TXFIFO Mode = Single Move Mode
SET 0xF0001E14 0x14000000

; QSPI2 ECONz (Configuration Extension z, z=1): Time Quantum = 1, Bit Segment2 = 1, Bit Segment3 = 1
SET 0xF0001E24 0x00000501

; QSPI2 SSOC (Slave Select Output Control Register):  SLSO output for channel 1 enabled, active low
SET 0xF0001E48 0x00020000

; ---------- Port P15 config start ----------
; PDR0: Pin 0-7 Input Level: Automotive level
SET 0xF003AF40 0x00000000
; PDR1: Pin 8-15 Input Level: Automotive level
SET 0xF003AF44 0x00000000

; IOCR8:
; Pin 8: Output push/pull Alternate output function 3: Master SPI clock output
SET 0xF003AF18 0x00000098

; IOCR4:
; Pin 6: Output Push/Pull Alternate function 3: Master SPI data output
SET 0xF003AF14 0x00980000
; ---------- Port P15 config end ----------

; ---------- Port P14 config start ----------
; IOCR0
; Pin 2: Output Open Drain Alternate function 3: Master slave select output
SET 0xF003AE10 0x00D80000
; ----------  Port P14 config end ----------

; QSPI2 FLAGSCLEAR: Clear Errors + TX and RX flags + Phase Transition 1 Event Flag?
SET 0xF0001E54  0x00000FFF

; BACONENTRY: Entry Point to the TxFIFO =  BACON to be used
; CS (Channel Select) = 1
; DL (Data Length) = 16 bit
; Last Word in a Frame = 1
; BYTE = 0 => Length in Bits
; MSB = 1 => Shift MSB first
; UINT = 0 => User Interrupt disabled
; PARTYP = 0 => Even Parity
; TRAIL = 0 => Trailing delay 0
; TPRE = 0 => Prescaler for the trailing delay = 0
; LEAD = 0 => Leading delay 0
; LPRE = 0 => Prescaler for the leading delay = 0
; IDLE = 0 => Idle delay length 0
; IPRE = 0 =>  Prescaler for the idle delay = 0
; LAST= 1 => Last word in frame = yes
SET 0xF0001E60  0x17A10001

; QSPI2 FLAGSCLEAR: Clear Transmit Event Flag
SET 0xF0001E54 0x00000200

; QSPI2 GLOBALCON: Set Enable Bit
SET 0xF0001E10  0x01000000 0x01000000

; QSPI2 DATA_ENTRY 0: Transaction 1: 16 bits to send to the TLF (unlock sequence 1:0xAB)
SET 0xF0001E64 0x00008756
; QSPI2 FLAGSCLEAR: Clear Transmit Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000200
; QSPI2 FLAGSCLEAR: Clear Receive Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000400

; QSPI2 DATA_ENTRY 0: Transaction 2: 16 bits to send to the TLF (unlock sequence 2:0xEF)
SET 0xF0001E64 0x000087DE
; QSPI2 FLAGSCLEAR: Clear Transmit Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000200
; QSPI2 FLAGSCLEAR: Clear Receive Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000400

; QSPI2 DATA_ENTRY 0: Transaction 3: 16 bits to send to the TLF (unlock sequence 3:0x56)
SET 0xF0001E64 0x000086AD
; QSPI2 FLAGSCLEAR: Clear Transmit Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000200
; QSPI2 FLAGSCLEAR: Clear Receive Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000400

; QSPI2 DATA_ENTRY 0: Transaction 4: 16 bits to send to the TLF (unlock sequence 4:0x12)
SET 0xF0001E64 0x00008625
; QSPI2 FLAGSCLEAR: Clear Transmit Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000200
; QSPI2 FLAGSCLEAR: Clear Receive Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000400

; QSPI2 DATA_ENTRY 0: Transaction 5: 16 bits to send to the TLF (Disable both watchdogs)
SET 0xF0001E64 0x00008D27
; QSPI2 FLAGSCLEAR: Clear Transmit Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000200
; QSPI2 FLAGSCLEAR: Clear Receive Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000400

; QSPI2 DATA_ENTRY 0: Transaction 6: 16 bits to send to the TLF (Disable ERR pin monitoring)
SET 0xF0001E64 0x00008A01
; QSPI2 FLAGSCLEAR: Clear Transmit Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000200
; QSPI2 FLAGSCLEAR: Clear Receive Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000400

; QSPI2 DATA_ENTRY 0: Transaction 7: 16 bits to send to the TLF (lock sequence 1:0xDF)
SET 0xF0001E64 0x000087BE
; QSPI2 FLAGSCLEAR: Clear Transmit Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000200
; QSPI2 FLAGSCLEAR: Clear Receive Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000400

; QSPI2 DATA_ENTRY 0: Transaction 8: 16 bits to send to the TLF (lock sequence 2:0x34)
SET 0xF0001E64 0x00008668
; QSPI2 FLAGSCLEAR: Clear Transmit Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000200
; QSPI2 FLAGSCLEAR: Clear Receive Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000400

; QSPI2 DATA_ENTRY 0: Transaction 9: 16 bits to send to the TLF (lock sequence 3:0xBE)
SET 0xF0001E64 0x0000877D
; QSPI2 FLAGSCLEAR: Clear Transmit Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000200
; QSPI2 FLAGSCLEAR: Clear Receive Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000400

; QSPI2 DATA_ENTRY 0: Transaction 10: 16 bits to send to the TLF (lock sequence 4:0xCA)
SET 0xF0001E64 0x00008795
; QSPI2 FLAGSCLEAR: Clear Transmit Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000200
; QSPI2 FLAGSCLEAR: Clear Receive Event Flag. Not required, the next word can be sent without clearing this flag. 
; SET 0xF0001E54 0x00000400

[Controller0.Core0.Tc2CoreTargIntf.OnStartScript]

[Controller0.Core0.Tc2CoreTargIntf.OnHaltScript]

[Controller0.Core0.Tc2CoreTargIntf.Suspend]
STM0=1
STM1=1
STM2=1
STM3=1
STM4=1
STM5=1

[Controller0.PFLASH]
Enabled=1
EnableMemtoolByDefault=1

[Controller0.DF_EEPROM]
Enabled=1
EnableMemtoolByDefault=1

[Controller0.DF_UCBS]
Enabled=1
EnableMemtoolByDefault=0

; --- Core1 -------------------------------------------------------------------
[Controller0.Core1]
Protocol=TC2_JTAG
Enabled=1

[Controller0.Core1.Tc2CoreTargIntf]

[Controller0.Core1.Tc2CoreTargIntf.OnStartScript]
[Controller0.Core1.Tc2CoreTargIntf.OnHaltScript]


; --- Core2 -------------------------------------------------------------------
[Controller0.Core2]
Protocol=TC2_JTAG
Enabled=1

[Controller0.Core2.Tc2CoreTargIntf]

[Controller0.Core2.Tc2CoreTargIntf.OnStartScript]
[Controller0.Core2.Tc2CoreTargIntf.OnHaltScript]


; --- Core3 -------------------------------------------------------------------
[Controller0.Core3]
Protocol=TC2_JTAG
Enabled=1

[Controller0.Core3.Tc2CoreTargIntf]

[Controller0.Core3.Tc2CoreTargIntf.OnStartScript]
[Controller0.Core3.Tc2CoreTargIntf.OnHaltScript]


; --- Core4 -------------------------------------------------------------------
[Controller0.Core4]
Protocol=TC2_JTAG
Enabled=1

[Controller0.Core4.Tc2CoreTargIntf]

[Controller0.Core4.Tc2CoreTargIntf.OnStartScript]
[Controller0.Core4.Tc2CoreTargIntf.OnHaltScript]


; --- Core5 -------------------------------------------------------------------
[Controller0.Core5]
Protocol=TC2_JTAG
Enabled=1

[Controller0.Core5.Tc2CoreTargIntf]

[Controller0.Core5.Tc2CoreTargIntf.OnStartScript]
[Controller0.Core5.Tc2CoreTargIntf.OnHaltScript]



[MultiCoreRunControl]
NoOfRunCtrlGroups=1

[MultiCoreRunControl.RunCtrlGroup_0]
GroupName=Run Control Group 1
ForceGo=1
ForceBreak=1
ForceGoBeforeStepIn=1
ForceGoBeforeStepOver=1
ForceGoBeforeStepOut=1
ForceGoEventBreak=1
ForceGoEventPause=0
NoOfRunCtrlElements=6
RunCtrlElement_0=Controller0.Core0
RunCtrlElement_1=Controller0.Core1
RunCtrlElement_2=Controller0.Core2
RunCtrlElement_3=Controller0.Core3
RunCtrlElement_4=Controller0.Core4
RunCtrlElement_5=Controller0.Core5

[Controller0.Core0.DebugServer.DbgFramework]
FRAMEWORK_COLOR=14804223
[Controller0.Core1.DebugServer.DbgFramework]
FRAMEWORK_COLOR=16777152
[Controller0.Core2.DebugServer.DbgFramework]
FRAMEWORK_COLOR=10025880
[Controller0.Core3.DebugServer.DbgFramework]
FRAMEWORK_COLOR=8257535
[Controller0.Core4.DebugServer.DbgFramework]
FRAMEWORK_COLOR=16756991
[Controller0.Core5.DebugServer.DbgFramework]
FRAMEWORK_COLOR=16443110
[Controller0.GTM.DebugServer.DbgFramework]
FRAMEWORK_COLOR=14794944

[Controller0.Core0.Tc2CoreTargIntf.OnConnectScript]
