/* ***** Helpers ***** */
.w100 {
    width: 100% !important;
}

.h100 {
    height: 100% !important;
}

.m0 {
    margin: 0 !important;
}

.m1 {
    margin: 1rem !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

.mb1 {
    margin-bottom: 1rem !important;
}

.my0 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.my-half {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
}

.my1 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.mx0 {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.p0 {
    padding: 0 !important;
}


.p-half {
    padding: 0.5rem !important;
}

.py-half {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
}

.p1 {
    padding: 1rem !important;
}

.p1-half {
    padding: 1.5rem !important;
}

.pr1 {
    padding-right: 1rem !important;
}

.px0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.rounded {
    border-radius: 3rem !important;
}

.clickable {
    cursor: pointer !important;
}

.space-evenly {
    justify-content: space-evenly !important;
}