@import 'variables';

/** Bootstrap: BUTTONS, ALERTS, TEXT **/
.btn, .btn-default, .alert, .alert-default{
    background-color: $default;
    border-color: $default-compliment;
    color: $default-compliment;
}
.btn:hover, .btn-default:hover{
    background-color: darken($default, 10%);
    border-color: $default-compliment;
    color: darken($default-compliment, 10%);
}
/****/
.btn-primary, .alert-primary{
    background-color: $primary;
    border-color: darken($primary, 10%);
    color: $primary-compliment;
}
.btn-primary:hover{
    background-color: darken($primary, 10%);
    color: lighten($primary-compliment, 10%);
}
/****/
.btn-danger, .alert-danger{
    background-color: $danger;
    border-color: darken($danger, 10%);
    color: $danger-compliment;
}
.btn-danger:hover{
    background-color: darken($danger, 10%);
    color: $danger-compliment;
}
/****/
.btn-warning, .alert-warning{
    background-color: $warning;
    border-color: darken($warning, 10%);
    color: $warning-compliment;
}
.btn-warning:hover{
    background-color: darken($warning, 10%);
    color: darken($warning-compliment, 10%);
}
/****/
.btn-info, .alert-info{
    background-color: $info;
    border-color: darken($info, 10%);
    color: $info-compliment;
}
.btn-info:hover{
    background-color: darken($info, 10%);
    color: $info-compliment;
}
/****/
.btn-success, .alert-success{
    background-color: $success;
    border-color: darken($success, 10%);
    color: $success-compliment;
}
.btn-success:hover{
    background-color: darken($success, 10%);
    color: $success-compliment;
}
/****/
.text-danger, .danger{ color: $danger; }
.text-warning, .warning{ color: $warning; }
.text-info, .info{ color: $info; }
.text-success, .success{ color: $success; }

/** Links inside alerts may blend in with the alert color **/
.alert a{
    color: inherit;
    text-decoration: underline;
}
.alert a:hover{
    font-weight: bold;
}
/** I believe alerts need some margin... **/
.alert{
    margin: 5px;
}

/** Well **/
.well {
    word-wrap: break-word;
    background-color: linen;
    background-clip: border-box;
    border: 1px solid lightsteelblue;
    border-radius: 0.25rem;
    padding: 10px;
    margin: 10px;
}

/** Console **/
.console{
    color: white;
    font-family: $code-font;
    border: 2px outset slategray;
    background-color: #000;
    padding: 3px;
    border-radius: 5px;
    padding: 10px;
}
.console input[type=text]{
    background-color: inherit;
    color: inherit;
    border: 0;
    border-bottom: 1px dotted white;
    border-radius: 3px;
}
.console input:hover{
    border: 1px dotted white;
    border-bottom: 1px solid white;
}
.console input[type=submit], .console input[type=button], .console button{
    background-color: inherit;
    color: inherit;
    border: 1px dotted white;
    border-radius: 3px;
}
.console input[type=submit]:hover, .console input[type=button]:hover, .console button:hover{
    background-color: inherit;
    color: inherit;
    border: 1px solid white;
}


/** PAGINATION STYLES
 ******************************************************************************/
.pagination {
    display: block;
    text-align: center;
    margin: 10px auto;
}
.pagination-page {
    margin: 0 0.1em;
    padding: .2em .5em;
    font-size: 1.3em;
    color: $primary-bg-color;
    background-color: #ccdf7f;
    border-radius: 3px;
}
a.pagination-page:hover {
    color: #ccdf7f;
    background-color: #6A7F10;
}
.pagination-page-current {
    font-weight: bold;
    border: 2px solid #6A7F10;
}
@media screen and (max-width: 650px) {
    .pagination {
        margin: 4px auto;
        word-spacing: -2px;
    }
    .pagination-page {
        margin: 3px;
        padding: 5px;
    }
}
@media screen and (max-width: 500px) {
    .pagination {
        margin: 3px auto;
        word-spacing: -4px;
    }
    .pagination-page {
        margin: 2px;
        padding: 3px;
        font-size: 10pt;
        border-radius: 2px;
    }
}


/** PSU ID PHOTO STYLES
 ******************************************************************************/
.id_photo {
    max-width: 100px;
    border-radius: 5px;
}
.id_photo-navbar {
    max-height: 30px;
    display:inline;
    float:left;
    margin-right:3px;
    border-radius: 3px;
}
.id_photo-thumb {
    max-width: 50px;
    border-radius: 5px;
}
/**
When a user does not have an
ID photo, their styled initials
will be displayed instead
**/
.id_photo-nvl {
    display: block;
    font-size: 24px;
    font-family:serif;
    vertical-align: middle;
    border:2px solid #333;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    padding-top: 3px;
    color:#000;
    letter-spacing: -3px;
}