@import 'variables';

/** Site Header Styles **/

// Entire Header Container (grid)
.header-container{
    /* position: fixed; */
    top: 0;
    left:0;
    right: 0;
    display: grid;
    grid-gap: 0 0;
    grid-template-rows: 36px 60px 70px 30px;
    grid-template-columns: minmax(160px, 1fr) 2fr 1fr;
    grid-template-areas:
        "links space sso"
        "logo space2 search"
        "title title title"
        "menus menus menus";
    background-color: $primary-bg-color;
    color: $primary-fg-color;
    align-items: center;
    font-size: 1.1em;
    padding: 0;
    margin: 0;
}


/** Hamburger Icon **/
.menu-responsive {
    display: none;
}

/** External Links (Banweb, etc) **/
.header-links{
    grid-area: links;
    background-color: darken($primary-bg-color, 5%);
    color: lighten($primary-fg-color, 5%);
    height: 100%;
    padding: 5px 25px;
}
.header-links a{
    color: $primary-fg-color;
    white-space: nowrap;
    font-size: .8em;
    margin-right: 5px;
}

//Unused space between external links and SSO menu
.header-space{
    grid-area: space;
    background-color: darken($primary-bg-color, 5%);
    color: lighten($primary-fg-color, 5%);
    height: 100%;
}


/** SSO Menu Launcher **/
#sso-menu{
    grid-area: sso;
    background-color: darken($primary-bg-color, 5%);
    color: lighten($primary-fg-color, 5%);
    height: 100%;
    padding-top: 3px;
    padding-right: 25px;
}


/** PSU Logo **/
.header-logo {
    grid-area: logo;
    padding: 15px 25px;
    height: 100%;
}
.header-logo img{
    max-width:100%;
    height:auto;
    max-height: 35px;
}

/** Site Title **/
.header-title{
    grid-area: title;
    color: $primary-fg-color;
    font-size: 2em;
    font-weight: bold;
    padding-left: 25px;
    height: 100%;
}


/** Search Bar **/
#google-appliance-block-form{
    display: inline;
    float: right;
    margin-right: 15px;
}
.header-search{
    grid-area: search;
    padding-top: 10px;
}
#header-search-input_block{
    display: inline-block;
    background-color: white;
    color: black;
    white-space: nowrap;
}
#header-search-input_block input[type=text]{
    border: 0px;
}


/** In-Site Navigation (Tabs) **/
.header-nav {
    margin: 0;
    grid-area: menus;
    padding-right: 12px;
    background-color: $primary-bg-color;
    height: 100%;
    z-index: 10000;
}
.navbar-toggler{
    color: $primary-fg-color;
    font-weight: normal;
}
.navbar-expand-sm{
    padding: 0px;
    margin: 0px;
}
#navbar-tabs{
    padding: 0px;
    margin: 0px;
}
ul.navbar-nav{
    width: 100%;
    padding: 0px;
    margin: 0px;
    height: 30px;
}
.header-nav-item {
    display: inline-block;
    background-color: $primary-bg-color;
    color: $primary-fg-color;
    font-size: 1em;
    border: 0;
    height: 100%;
    border-radius: 3px 3px 0 0;
    white-space:nowrap;
    padding: 0px;  /** was 7px **/
    margin: 0 3px;
    flex: 0 1 auto !important;
}
.header-nav-item:hover {
    background-color: darken($primary-bg-color, 10%);
    color: lighten($primary-fg-color, 10%);
}
.header-nav-item-active, .header-nav-item-active:hover{
    background-color: $active-tab-bg-color;
    color: $active-tab-fg-color;
}
// .developer-nav-tab{
//     position: absolute;
//     right: 10px;
// }

//Header dropdowns and links should fill the entire tab
.header-nav-item .dropdown, .header-nav-item a{
    display: inline-block;
    height: 98%;
    width: 99%;
    padding: 0 7px;
    border-radius: 3px 3px 0 0;
}
// Menu buttons should blend in with tab
.dropbtn, .dropbtn:active {
    background-color: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
    font-size: inherit;
    border: 0;
    height: 90%;
    width: 100%;
}
//Links should inherit tab colors
.header-nav-item a{
    background-color: inherit;
    color: inherit;
}

//If nav menu launcher is floating right, menu must go off to the left
.header-menu .float-right .dropdown-content {
    right: 0px;
    left: inherit;
}



/** All drop-down menus in the header **/
.header-container .dropdown {
    position: relative;
    display: inline-block;
}

/** Drop-Down Menu Content Containers **/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: darken($primary-bg-color, 10%);
    color: lighten($primary-fg-color, 10%);
    min-width: 200px;
    z-index: 10099;
    font-size: 14px;
    left: 0px;
}


/** Drop-Down Menu Content Items **/

//Top element of a menu might not be a link
.menu-top {
    padding: 4px 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.dropdown-content a, .dropdown-content b {
    color: $primary-fg-color;
    padding: 8px 12px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: darken( $primary-bg-color, 20% );
    color: lighten( $primary-fg-color, 20% );
}

.header-menu-item {
    border-top: 1px dotted $primary-bg-color;
    white-space: nowrap;
    font-size: .8em;
    z-index: 10001;
    text-align: left;
}
.header-menu-item-active {
    background-color: lighten( $primary-bg-color, 10% ) !important;
    color: invert( $primary-fg-color) !important;
    font-weight: bold;
}
.header-menu-item .fa {
    width: 30px;
    text-align: center;
}


/** SSO Menu Contains a Photo and Forms for Proxying **/
#sso-menu a.login{
    color: inherit;
    float: right;
}
.sso-photo{
}
.sso-name{
    font-size: .8em;
}
.sso_menu-form{
    margin: 0 20px;
}
#sso_impersonation-form-input, #proxy-form-input{
    width: 160px;
    line-height: 15px;
    padding: 3px;

}
.id_photo-navbar-proxy{
    position: relative;
    left: -20px;
    top: 5px;
    max-width: 30px;
    border: 1px solid #000;
    border-radius: 20px;
}

#sso-auth-smokescreen{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #989898;
    opacity: 0.5;
    z-index: 2147483638;
}
#sso-auth-loading{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    background-color: lighten($primary-bg-color, 80%);
    opacity: 1;
    color: $primary-bg-color;
    border: 1px solid $primary-bg-color;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    z-index: 2147483638;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 1000px) {
    .header-space {
        display: none;
    }
    .header-container{
        grid-template-areas:
            "links links sso"
            "logo search search"
            "title title title"
            "menus menus menus";
        font-size: 1.1em;
    }
}
@media screen and (max-width: 700px) {
    .header-links, .header-space, .header-search {
        display: none;
    }

    .header-nav-item-optional{
        display: none;
    }

    .header-title{
        font-size: 1.2em;
        font-weight: bold;
        padding-left: 25px;
        height: 100%;
    }

    .header-logo {
        background-color: darken($primary-bg-color, 5%);
        color: lighten($primary-fg-color, 5%);
        padding: 5px 5px;
        height: 100%;
    }
    .header-logo img{
        max-width:100%;
        height:100%;
        max-height: 35px;
    }

    .header-nav{
        font-size: .8em;
        padding-right: 7px;
    }
    .header-nav .fa-cog{
        font-size: 1em;
    }
    .header-nav-item {
        //font-size: 1em;
        border-radius: 2px 2px 0 0;
        padding: 3px;
    }

    .header-container{
        grid-template-rows: 36px 60px 30px;
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "logo sso"
            "title title"
            "menus menus";
        font-size: 1em;
    }

}

@media screen and (max-width: 575px) {  /** CHANGED **/
    ul.navbar-nav{
        height: auto;
    }
//     .developer-nav-tab{
//         position: static;
//     }
    .header-nav-item-optional{
        display: inline-block;
    }
}