/* enforce inheritance */
* {
  font-family: inherit;
  line-height: inherit;
  color: inherit;
}

/* variables ------------------------------------------------------------------------ */
[data-user-theme="light"] {
  --text-primary: black;
  --text-secondary: dimgrey;
  --text-error: darkred;
  --text-link: #00a;
  --background-primary: #ccc;
  --background-content: #fff;
  --border-primary: var(--text-primary);
  --border-secondary: var(--background-primary);
  --shadow-primary: #444;
}

/* global styles -------------------------------------------------------------------- */

html {
  font-size: 125%;
  font-family: sans-serif;
  line-height: 1.5;
  color: var(--text-primary);
  background-color: var(--background-primary);
}

/* flow algorithm ------------------------------------------------------------------- */
* {
  margin: 0;
}

* + * {
  margin-top: 1.5em;
}

body,
header,
footer,
nav,
br,
dt,
dd,
th,
td,
option {
  margin-top: 0;
}

label {
  display: block;
}

label + * {
  margin-top: 0.5rem;
}

/* element and attribute styles ----------------------------------------------------- */

a {
  color: var(--text-link);
}

h2,
h5 {
  font-size: 1.2em;
}

form {
  display: flex;
}

pre {
  white-space: pre-wrap;
}

menu {
  display: flex;
  list-style: none;
  padding: 0;
}

/* Navigation */

nav * {
  margin-top: 0;
  white-space: nowrap;
}

nav > ul {
  display: flex;
  justify-content: space-around;
  text-align: center;
  background-color: var(--background-primary);
}

nav li {
  flex: 1 1 auto;
  padding: 6px;
}

nav .nav-current {
  background-color: var(--background-content);
}

nav form {
  justify-content: center;
}

.nav-search {
  flex: 2 1 auto;
}

nav input {
  border: 1px solid var(--border-primary);
  padding: 0 0.5rem;
  width: calc(100% - 4em);
}

nav a {
  text-decoration: none;
}

nav svg {
  height: 2em;
  fill: var(--text-link);
  display: none;
}

@media only screen and (max-width: 500px) {
  .main-navigation svg {
    display: initial;
  }
  .main-navigation a + a {
    display: none;
  }
}

/* Footer */

footer {
  margin: 1.5em auto;
}

/* Body */

body {
  display: grid;
  align-content: start;
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px var(--shadow-primary);
  background-color: var(--background-content);
}

main {
  margin: 0 1em;
}

/* Headers and content */

header + * {
  margin-top: 1em;
}

/* Forms in main body */

main form {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-primary);
  padding: 0.5em;
  max-width: min(500px, 80vw);
  margin: 1.5em auto;
  align-content: start;
}

main form label {
  text-align: start;
  white-space: nowrap;
}

main form .container-checkbox {
  display: flex;
  gap: 1em;
}

main form * + * {
  margin-top: 1.5em;
}

main form input[type="hidden"] + label {
  margin-top: 0;
}

main form label + * {
  margin-top: 0;
}

main form input,
main form textarea {
  padding: 0.25em;
  border: 1px solid var(--border-secondary);
}

main form h1 {
  margin: 0;
  text-align: center;
}

main form input[type="submit"] {
  justify-self: center;
}

.errorlist {
  margin-top: 0;
  display: block;
  list-style: outside;
  padding-left: 20px;
  color: var(--text-error);
  font-size: 75%;
}

.helptext {
  margin-top: 0;
  color: var(--text-secondary);
  font-size: 75%;
}

.helptext > ul {
  display: block;
  list-style: outside;
  padding-left: 20px;
}

.helptext * + * {
  margin-top: 0;
}

.select2-container * {
  margin-top: 0;
}

/* Headers in main body */

main > header > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0 1em;
  align-items: center;
  margin-top: 0.5em;
}

main > header > ul > li + * {
  margin-top: 0;
}

main header ul {
  margin: 0;
}

/* Text in main body */

section > p {
  margin-top: 1.5em;
}

/* Lists and menus in main body */

section > ul {
  display: block;
  list-style: outside;
  padding-left: 40px;
}

section > menu {
  display: block;
  list-style: outside;
  padding-left: 40px;
}

section > menu > li {
  margin-top: 0;
}

section > ul > li {
  margin-top: 0;
}

p + ul {
  margin-top: 1.5em;
}

header + menu {
  margin-top: 1.5em;
}

/* External link icon */

.item-link * {
  margin-top: 0;
}

.item-link svg {
  display: inline-block;
  width: 1.1em;
  margin-left: 0.3em;
  margin-bottom: -0.1em;
}

.external-link-icon {
  fill: none;
  stroke: #000;
  stroke-width: 5px;
}

/* Base tile list */

.tile-list {
  gap: 2rem;
}

.tile-list > * {
  margin: 0;
}

/* Custom tile lists */

.tile-list-row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(14rem, 1fr));
}

.tile-list-column {
  display: flex;
  flex-direction: column;
}

/* Base tile */

.tile {
  display: grid;
  gap: 10px;
  padding: 1em;
  border-color: var(--border-primary);
  border-radius: 1rem;
  box-shadow: 0px 0px 20px var(--shadow-primary);
}

/* Content tile */
.tile-content {
  grid-template-columns: 3fr 1fr;
}

.tile-content > * {
  grid-column: 1 / 2;
}

.tile-content > h3 {
  grid-column: 1 / 3;
}

.tile-content > a {
  justify-self: flex-end;
  align-self: flex-end;
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

.tile-content img {
  height: 3em;
}

.tile-content * {
  margin-top: 0;
}

/* Sequencemember tiles */

.tile-sequencemember > a {
  grid-row: 1 / 3;
  align-self: flex-start;
}

.tile-sequencemember > menu {
  grid-column: 1 / 3;
  align-self: flex-start;
}

/* More tiles */

.tile-more {
  font-style: italic;
}

/* Pagination */

.pagination {
  text-align: center;
  margin-top: 0.5em;
}

/* Sequence member move form */

.sequencemember-edit {
  display: flex;
  flex-direction: row;
  border: none;
  max-width: inherit;
  margin: 0;
  padding: 0;
  grid-column: 1 / 3;
}

.sequencemember-edit button {
  width: 50px;
  height: 50px;
  padding: 0;
}

.sequencemember-edit polyline {
  fill: none;
  stroke: var(--border-primary);
  stroke-width: 0.5px;
}
